<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/home.css" />
    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="page-landing">
        <div id="page-landing-content" class="container">
            <div class="logo-container">
                <h3>Imob</h3>
                <img src="~/Resources/logo.png" alt="Imob" />
                <h2>Gestão de Imóveis "sem complicação" em todo Brasil!!!</h2>
            </div>
        </div>
    </div>

    <nav class="navMenu">
        <a href="#">
            <div id="btn1" class="button">
                <h1>Home <i class="fab fa-battle-net"></i></h1>
            </div>
        </a>
        <a href="#">
            <div id="btn2" class="button">
                <h1>Locatários <i class="far fa-address-card"></i></h1>
            </div>
        </a>
        <a href="#">
            <div id="btn3" class="button">
                <h1>Corretores <i class="fas fa-business-time"></i></h1>
            </div>
        </a>
        <a href="#">
            <div id="btn4" class="button">
                <h1>Imóveis <i class="far fa-building"></i></h1>
            </div>
        </a>
        <a href="#">
            <div id="btn5" class="button">
                <h1>Contratos <i class="fas fa-file-signature"></i></h1>
            </div>
        </a>
    </nav>

    <ul class="squares">
    </ul>
    <script src="~/js/scriptHome.js"></script>
    
</body>
</html>
