<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/listarLocatarioStyle.css" />
   
    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
</head>
<body>


    <div id="page">
        <aside>
            <header>
                <i class="far fa-address-card"></i>
                <h1>Lista de Locatários</h1>
                <a href="#"><i class="fas fa-arrow-left"></i></a>
            </header>

            <footer>
                <strong>Imob</strong>
                <span>Imóveis</span>
            </footer>
        </aside>

        <table class="tabelaClasse">
            <div class="topoDaLista">
                <h4 class="h4add">Adicionar</h4>
                <a class="btn-cad"><i class="fas fa-plus"></i></a>
                <input class="inputDoSearch" type="text" placeholder="Digite o nome do locatário para busca!" />
                <a class="btn-buscar"><i class="fas fa-search-plus"></i></a>
            </div>
            <thead>
                <tr>
                    <th class="th_classe">#</th>
                    <th class="th_classe">Nome</th>
                    <th class="th_classe">CPF</th>
                    <th class="th_classe">Email</th>
                    <th class="th_classe">Telefone</th>
                    <th class="th_classe">Cidade</th>
                    <th class="th_classe">UF</th>
                    <th class="th_classe">Renda Disponível</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                    <tr class="tr_classe">
                        <td class="td_classe">00</td>
                        <td class="td_classe">Aldemir da Frota</td>
                        <td class="td_classe">0.59.328.159-22</td>
                        <td class="td_classe">jajaja@jaja.com.br</td>
                        <td class="td_classe">(41) 9999-99999</td>
                        <td class="td_classe">Curitiba</td>
                        <td class="td_classe">PR</td>
                        <td class="td_classe">1.250,00</td>
                        <td>
                            <a 
                               class="btn-remover">EXCLUIR</a>
                        </td>
                        <td>
                            <a
                               class="btn-alterar">EDITAR</a>
                        </td>
                    </tr>

            </tbody>
        </table>




        <ul class="squares">
        </ul>
        <script src="~/js/login.js"></script>
</body>
</html>
