:root {
    --escuro: #282A43;
    --claro: #383B5A;
    --verde: #00FFA3;
    --branco: #fff;
}
*{
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: var(--escuro);
    font-family: Roboto, Arial, sans-serif;
}

#page {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

    #page aside {
        width: 200px;
        background: var(--claro);
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: asideAni 1.5s cubic-bezier(0, 0.2, 0.8,1);
    }

        #page aside h1 {
            color: var(--verde);
            font-family: Roboto, Arial, sans-serif;
            font-size: 40px;
            line-height: 42px;
            margin-top: 10px;
            animation: fromRight 3s cubic-bezier(0, 0.2, 0.8,1);
        }

        #page aside i {
            color: var(--verde);
            font-size: 100px;
            line-height: 28px;
            margin-top: 24px;
            text-shadow: 0 0.5px 20px;
            animation: fromRight 3.5s cubic-bezier(0, 0.2, 0.8,1);
        }
        #page aside a i {
            color: var(--branco);
            font-size: 40px;
            line-height: 28px;
            margin-top: 100%;
            padding: 20px;
            border: solid 2px var(--claro);
            animation: fromRight 2s cubic-bezier(0, 0.2, 0.8,1);
        }
            #page aside a i:hover {
                color: var(--verde);
                border-radius: 50%;
                
                border: solid 2px var(--verde);
            }
        #page aside footer {
            color: var(--branco);
            display: flex;
            flex-direction: column;
            line-height: 24px;
            animation: fromRight 4s cubic-bezier(0, 0.2, 0.8,1);
        }

            #page aside footer strong {
                color: var(--verde);
                font-weight: 800;
                text-shadow: 0 0.5px 20px;
                font-size: 40px;
                margin-bottom: 10px;
            }

.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
}
form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--claro);
    padding: 40px 50px 40px 40px;
    border-radius: 5px;
    z-index: 900;
    animation: scaleAndFromUp 1.5s ease-in-out;
}


    form .input-block:nth-child(1) {
        width: 90%;
        margin-bottom: 20px;
        border-bottom: solid 2px var(--verde);
        animation: animationInputs 500ms cubic-bezier(0, 0.2, 0.8,1);
    }
    form .input-block:nth-child(2) {
        width: 90%;
        margin-bottom: 20px;
        border-bottom: solid 2px var(--verde);
        animation: animationInputs 700ms cubic-bezier(0, 0.2, 0.8,1);
     
    }
    form .input-block:nth-child(3) {
        width: 90%;
        margin-bottom: 20px;
        border-bottom: solid 2px var(--verde);
        animation: animationInputs 900ms cubic-bezier(0, 0.2, 0.8,1);
       
    }
    form .input-block:nth-child(4) {
        width: 90%;
        margin-bottom: 20px;
        border-bottom: solid 2px var(--verde);
        animation: animationInputs 1100ms cubic-bezier(0, 0.2, 0.8,1);
    }
    form .input-block:nth-child(5) {
        width: 90%;
        margin-bottom: 20px;
        border-bottom: solid 2px var(--verde);
        animation: animationInputs 1300ms cubic-bezier(0, 0.2, 0.8,1);
      
    }
    form .input-block:nth-child(6) {
        width: 90%;
        margin-bottom: 20px;
        border-bottom: solid 2px var(--verde);
        animation: animationInputs 1500ms cubic-bezier(0, 0.2, 0.8,1);
   
    }
    form .input-block:nth-child(7) {
        width: 90%;
        margin-bottom: 20px;
        border-bottom: solid 2px var(--verde);
        animation: animationInputs 1700ms cubic-bezier(0, 0.2, 0.8,1);
     
    }
    form .input-block:nth-child(8) {
        width: 90%;
        margin-bottom: 20px;
        border-bottom: solid 2px var(--verde);
        animation: animationInputs 1900ms cubic-bezier(0, 0.2, 0.8,1);
       
    }
    form .input-block:nth-child(9) {
        width: 90%;
        margin-bottom: 20px;
        border-bottom: solid 2px var(--verde);
        animation: animationInputs 2100ms cubic-bezier(0, 0.2, 0.8,1);
      
    }
    form .input-block:nth-child(10) {
        width: 90%;
        margin-bottom: 20px;
        border-bottom: solid 2px var(--verde);
        animation: animationInputs 2300ms cubic-bezier(0, 0.2, 0.8,1);
       
    }
    form .input-block:nth-child(11) {
        width: 90%;
        margin-bottom: 20px;
        border-bottom: solid 2px var(--verde);
        animation: animationInputs 2500ms cubic-bezier(0, 0.2, 0.8,1);
        
    }

        form .input-block label {
            font-size: 14px;
            color: var(--verde);
        }

        form .input-block input {
            width: 100%;
            display: block;
            margin-top: 8px;
            padding: 7px;
            font-size: 16px;
            background:none;
            border-radius: 2px;
            border: none;
            outline-color: #7159c1;
            z-index: 800;
            color: var(--branco);
        }

    form .btn-login {
        display: block;
        min-width: 120px;
        border: none;
        background-color: var(--escuro);
        color: var(--branco);
        border-radius: 25px;
        margin: 0 auto;
        padding: 7px;
        z-index: 800;
       
        border: solid 1.5px var(--escuro);
        animation: btn 4s ease-in-out;
    }

        form .btn-login:hover {
            color: var(--verde);
            border: solid 1.5px var(--verde);
            cursor: pointer;
        }

button {

}

.squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 3s infinite;
    animation-direction: alternate;
    z-index: -1;
}


@keyframes up {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 0;
        transform: translateY(-130vh) rotate(960deg);
    }
}



@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(-30vw);
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
        transform: translateX(0) rotate(360deg);
    }
}


@keyframes animationInputs{
    from {
        opacity: 0;
        transform: translateX(60vw);
    }
    25% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.2;
    }
    85% {
        opacity: 0.7;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleAndFromUp{
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes btn {
    from {
        opacity: 0;
        transform: translateX(100vw) rotate(1640deg);
    }

    to {
        opacity: 1;
        transform:  translateX(0);
    }
}

@keyframes asideAni{
    from {
        opacity: 0;
        transform: translateX(-30vw);
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}