:root {
    --escuro: #282A43;
    --claro: #383B5A;
    --verde: #00FFA3;
    --branco: #fff;
}
*{
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: var(--escuro);
    font-family: Roboto, Arial, sans-serif;
}

#page {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

    #page aside {
        width: 200px;
        background: var(--claro);
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: asideAni 1.5s cubic-bezier(0, 0.2, 0.8,1);
    }

        #page aside h1 {
            color: var(--verde);
            font-family: Roboto, Arial, sans-serif;
            font-size: 40px;
            line-height: 42px;
            margin-top: 10px;
            animation: fromRight 3s cubic-bezier(0, 0.2, 0.8,1);
        }

        #page aside i {
            color: var(--verde);
            font-size: 100px;
            line-height: 28px;
            margin-top: 24px;
            text-shadow: 0 0.5px 20px;
            animation: fromRight 3.5s cubic-bezier(0, 0.2, 0.8,1);
        }
        #page aside a i {
            color: var(--branco);
            font-size: 40px;
            line-height: 28px;
            margin-top: 100%;
            padding: 20px;
            border: solid 2px var(--claro);
            animation: fromRight 2s cubic-bezier(0, 0.2, 0.8,1);
        }
            #page aside a i:hover {
                color: var(--verde);
                border-radius: 50%;
                
                border: solid 2px var(--verde);
            }
        #page aside footer {
            color: var(--branco);
            display: flex;
            flex-direction: column;
            line-height: 24px;
            animation: fromRight 4s cubic-bezier(0, 0.2, 0.8,1);
        }

            #page aside footer strong {
                color: var(--verde);
                font-weight: 800;
                text-shadow: 0 0.5px 20px;
                font-size: 40px;
                margin-bottom: 10px;
            }




@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(-30vw);
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
        transform: translateX(0) rotate(360deg);
    }
}




@keyframes asideAni{
    from {
        opacity: 0;
        transform: translateX(-30vw);
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.tabelaClasse {
    width: 1100px;
    height: 600px;
    background: var(--claro);
    color: var(--branco);
    top: 50%;
    left: 60%;
    position: absolute;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: inherit;
    padding: 40px 50px 40px 40px;
    border-radius: 5px;
}

.th_classe {
    text-align: left;
    width: 100px;
    padding-left: 8px;
    color: var(--verde);
}

.tr_classe {
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
}

.td_classe {
    text-align: center;
    width: 120px;
    border-bottom: 4px solid var(--escuro);
}

.btn-remover {
    width: 40px;
    font-weight: 900;
    font-size: 15px;
    color: var(--escuro);
 
}
    .btn-remover::after {
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background: brown;
        transition: width .3s;
    }

    .btn-remover:hover::after {
        width: 100%;
      
        transition: width .5s;
    }

.btn-remover:hover {
    cursor:pointer;
    color: brown;
}


.btn-alterar {
   
    width: 40px;
    font-size: 15px;
    font-weight:900;
    color: var(--escuro);
}
 .btn-alterar:hover {
        cursor: pointer;
        color: coral;
    }

    .btn-alterar::after {
        content: '';
       
        display: block;
        width: 0;
        height: 4px;
        background: coral;
        transition: width .3s;
    }

.btn-alterar:hover::after {
    width: 100%;
    transition: width .5s;
}



.squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 3s infinite;
    animation-direction: alternate;
    z-index: -1;
}


@keyframes up {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 0;
        transform: translateY(-130vh) rotate(960deg);
    }
}


.topoDaLista {
    position: absolute;
    top: 10%;
    left: 50%;
    display:inherit;
    padding: 10px;
}
.h4add {
    color: var(--verde);
    font-size: 16px;
    padding:20px;
}
.btn-cad {
   margin-right: 20px;
    color: var(--verde);
    font-size: 50px;
}
    .btn-cad:hover {
        cursor: pointer;
        color: var(--branco);
        text-shadow: 0 0.5px 20px;
        transform: rotate(360deg);
        transition: all 500ms ease-in-out;
    }

.btn-buscar {
    margin-left: 20px;
    width: 50px;
    height: 30px;
    background: var(--escuro);
    color: var(--branco);
    font-size: 50px;
}
.btn-buscar:hover {
    cursor: pointer;
    color: var(--branco);
    text-shadow: 0 0.5px 20px;
    
    transition: all 200ms ease-in-out;
}

.inputDoSearch {
    background: none;
    font-size: 20px;
   padding:20px;
    border-radius: 2px;
    border: none;
    color: var(--branco);
    border-bottom: solid 4px var(--branco);
    width: 450px;
    text-align: right;
}