
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/cadastrarLocatarioStyle.css" />
    <link rel="stylesheet" href="~/css/contratoPageStyle.css" />

    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
</head>
<body>


    <div id="page">
        <aside>
            <header>
                <i class="fas fa-file-signature"></i>
                <h1>Realize um Contrato</h1>
                <a href="#"><i class="fas fa-arrow-left"></i></a>
            </header>

            <footer>
                <strong>Imob</strong>
                <span>Imóveis</span>
            </footer>
        </aside>



        <div class="form-wrapper">
            <form>


                <div class="input-block">

                    <label for="inputState">Locatário</label>
                    <select id="inputState" class="form-control">
                        <option selected>escolha um locatário...</option>
                        <option>...</option>
                    </select>

                </div>

                <div class="input-block">

                    <label for="inputState">Corretor</label>
                    <select id="inputState" class="form-control">
                        <option selected>escolha um corretor...</option>
                        <option>...</option>
                    </select>

                </div>

                <div class="input-block">

                    <label for="inputState">Imóvel</label>
                    <select id="inputState" class="form-control">
                        <option selected>escolha um imóvel...</option>
                        <option>...</option>
                    </select>

                </div>

                <div class="input-block">
                    <label for="dtavenc">Data de vencimento</label>
                    <input type="number" placeholder="Informe um vencimento para o contrato." />
                </div>



                <input type="submit" class="btn-login" value="Realizar Contrato" />

            </form>
        </div>
    </div>


    <ul class="squares">
    </ul>
    <script src="~/js/login.js"></script>
</body>
</html>