<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/cadastrarLocatarioStyle.css" />

    <link rel="stylesheet" href="~/css/criarUsuarioStyle.css" />
    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="page">
        <aside>
            <header>
                <i class="fab fa-battle-net"></i>
                <h1>Cadastre um Usuário</h1>
                <a href="#"><i class="fas fa-arrow-left"></i></a>
            </header>

            <footer>
                <strong>Imob</strong>
                <span>Imóveis</span>
            </footer>
        </aside>



        <div class="form-wrapper">
            <form>
                <div class="input-block">
                    <label for="login-email">Email</label>
                    <input type="email" id="login-email" />
                </div>
                <div class="input-block">
                    <label for="login-password">Password</label>
                    <input type="password" id="login-password" />
                </div>
                <div class="input-block">
                    <label for="login-password-confirm">Confirm Password</label>
                    <input type="password" id="login-password-confirm" />
                </div>
                <input type="submit" class="btn-login" value="Cadastrar Usuário" />

            </form>
        </div>

        </div>
        <ul class="squares">
        </ul>
        <script src="~/js/login.js"></script>
</body>
</html>