@model Imob.Models.UsuarioLogado

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/cadastrarLocatarioStyle.css" />

    <link rel="stylesheet" href="~/css/criarUsuarioStyle.css" />
    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="page">
        <aside>
            <header>
                <i class="fab fa-battle-net"></i>
                <h1>Cadastre um Usuário</h1>
                <a asp-action="ListaUsuarios" asp-controller="Usuario"><i class="fas fa-arrow-left"></i></a>
            </header>

            <footer>
                <strong>Imob</strong>
                <span>Imóveis</span>
            </footer>
        </aside>

        <div class="form-wrapper">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="CadastrarUsuario">
                <div class="input-block">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="email" id="login-email" />
                </div>
                <div class="input-block">
                    <label asp-for="Senha">Password</label>
                    <input asp-for="Senha" type="password" id="login-password" />
                </div>
                <div class="input-block">
                    <label asp-for="ConfirmacaoSenha">Confirm Password</label>
                    <input asp-for="ConfirmacaoSenha" type="password" id="login-password-confirm" />
                </div>
                <input type="submit" @*class="btn-login"*@ value="CadastrarUsuario" />

            </form>
        </div>

        </div>
        <ul class="squares">
        </ul>
        <script src="~/js/login.js"></script>
</body>
</html>