@model Imob.Models.UsuarioLogado

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Imob</h1>
    <section class="form-section">

        <img src="~/Resources/logo.png" alt="Imob" />


        <div class="form-wrapper">
            <form asp-action="Index">
                <div class="input-block">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="email" id="login-email" />
                </div>
                <div class="input-block">
                    <label asp-for="Senha" for="login-password">Senha</label>
                    <input asp-for="Senha" type="password" id="login-password" />
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <input type="submit" class="botaoGlobal" value="ENTRAR" />

            </form>
        </div>
    </section>
    <h2>Gestão de Imóveis<br /> "sem complicação" <br />em todo Brasil!!!</h2>

    <ul class="squares">
    </ul>
    <script src="~/js/scriptHome.js"></script>
</body>
</html>