@model Imob.Models.Corretor 

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/cadastrarLocatarioStyle.css" />
    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.mask.min.js"></script>
</head>
<body>


    <div id="page">
        <aside>
            <header>
                <i class="fas fa-business-time"></i>
                <h1>Cadastre um novo Corretor</h1>
                <a asp-action="ListaCorretores" asp-controller="Corretor"><i class="fas fa-arrow-left"></i></a>
            </header>

            <footer>
                <strong>Imob</strong>
                <span>Imóveis</span>
            </footer>
        </aside>



        <div class="form-wrapper">
            <form asp-action="CadastrarCorretor" asp-controller="Corretor" method="post" enctype="multipart/form-data">

                <div id="Nome" class="input-block">
                    <label asp-for="Nome">Nome</label>
                    <input asp-for="Nome" type="text" placeholder="Insira seu nome" />
                    <span asp-validation-for="Nome"></span>
                </div>

                <div id="Cpf" class="input-block">
                    <label asp-for="Cpf">CPF</label>
                    <input asp-for="Cpf" type="text" placeholder="Informe seu CPF" id="cpf"/>
                    <span asp-validation-for="Cpf"></span>
                </div>

                <div id="Telefone" class="input-block">
                    <label asp-for="Telefone">Telefone</label>
                    <input asp-for="Telefone" type="text" placeholder="Telefone pessoal"  id="telefone"/>
                    <span asp-validation-for="Telefone"></span>
                </div>

                <div id="Email" class="input-block">
                    <label asp-for="Email">E-mail</label>
                    <input asp-for="Email" type="text" placeholder="Informe seu e-mail" />
                    <span asp-validation-for="Email"></span>
                </div>

                <div id="Cofeci" class="input-block">
                    <label asp-for="Cofeci">COFECI</label>
                    <input asp-for="Cofeci" type="number" placeholder="Informe seu registro COFECI!" />
                    <span asp-validation-for="Cofeci"></span>
                </div>

                <div class="input-block">
                    <label>CEP</label>
                    <input type="text" placeholder="Informe o CEP de sua cidade"  id="cep"/>
                    <button type="button" class="btn-CEP"><i class="far fa-arrow-alt-circle-down"></i></button>
                </div>

                <div id="Cidade" class="input-block">
                    <label asp-for="Cidade">Cidade</label>
                    <input asp-for="Cidade" type="text" placeholder="Digite sua cidade" />
                    <span asp-validation-for="Cidade"></span>
                </div>

                <div id="UF" class="input-block">
                    <label asp-for="UF">UF</label>
                    <input asp-for="UF" type="text" placeholder="Digite o Estado" />
                    <span asp-validation-for="UF"></span>
                </div>

                <input type="submit" @*class="btn-login"*@ value="Cadastrar" />

            </form>
        </div>
    </div>


    <ul class="squares">
    </ul>
    <script src="~/js/login.js"></script>
    <script type="text/javascript">

        $("#cpf").mask("000.000.000-00")
        $("#telefone").mask("(00) 00000-0000")
        $("#cep").mask("00000-000")

    </script>
</body>
</html>