@model Imob.Models.Corretor

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/cadastrarLocatarioStyle.css" />

    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
</head>
<body>


    <div id="page">
        <aside>
            <header>
                <i class="fas fa-business-time"></i>
                <h1>Editar Informações do Corretor</h1>
                <a asp-action="ListaCorretores" asp-controller="Corretor"><i class="fas fa-arrow-left"></i></a>
            </header>

            <footer>
                <strong>Imob</strong>
                <span>Imóveis</span>
            </footer>
        </aside>

        <div class="form-wrapper">

            <form asp-action="EditarCorretor" asp-controller="Corretor" method="post">
                <div class="input-block">
                    <label asp-for="Id">ID</label>
                    <input asp-for="Id" readonly type="text" />
                    <input asp-for="Id" name="hdnId" type="hidden" />
                </div>

                <div class="input-block">
                    <label asp-for="Nome">Nome</label>
                    <input asp-for="Nome" type="text" />
                </div>

                <div class="input-block">
                    <label asp-for="Cpf">CPF</label>
                    <input asp-for="Cpf" type="number" />
                </div>

                <div class="input-block">
                    <label asp-for="Telefone">Telefone</label>
                    <input asp-for="Telefone" type="number" />
                </div>

                <div class="input-block">
                    <label asp-for="Email">E-mail</label>
                    <input asp-for="Email" type="text" />
                </div>

                <div class="input-block">
                    <label asp-for="Cofeci">COFECI</label>
                    <input asp-for="Cofeci" type="number" />
                </div>
                
                <div class="input-block">
                    <label>CEP</label>
                    <input type="number" />
                </div>

                <div class="input-block">
                    <label asp-for="Cidade">Cidade</label>
                    <input asp-for="Cidade" type="text" />
                </div>

                <div class="input-block">
                    <label asp-for="UF">UF</label>
                    <input asp-for="UF" type="text" />
                </div>

                <input type="submit" @*class="btn-login"*@ value="Salvar" />
            </form>
        </div>
    </div>


    <ul class="squares">
    </ul>
    <script src="~/js/login.js"></script>
</body>
</html>